<ion-view title="{{user.name}}'s Home" id="page1" style="background-color:#FBE7A8;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <button ng-click="goToCalendar()" id="myHome-button8" class="button button-balanced button-block icon-left ion-clipboard">Generate Calendar</button>
        <a ui-sref="menu.manageParticipants" id="myHome-button9" class="button button-positive  button-block icon-left ion-android-contacts">Manage Participants</a>
        <a ui-sref="menu.manageTasks" id="myHome-button10" class="button button-positive  button-block icon-left ion-android-hand">Manage Tasks</a>
        <img id="wolf-img" class="wolf-background-img" src="img/Ybt8j4RL8zz3BHvR9ZAs_24_Tenpenny_Tower.png" >
    </ion-content>
</ion-view>
