<ion-view title="Splash Screen" id="page7" style="background-color:#FBE7A8;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 17px;"></div>
        <div id="splashScreen-markdown1" style="color:#345985;text-align:center;">
            <p>
                <strong>TasKing</strong>
            </p>
        </div>
        <div style="text-align:center;">
            <img src="img/5worfwGTNyuzDgf7n17g_vaultBoy.png" width="100%" height="auto">
        </div>
        <div id="splashScreen-markdown2" style="color:#345985;text-align:center;">
            <p>Let the
                <strong>King</strong> organize your
                <strong>tasks</strong>!</p>
        </div>
        <a ui-sref="login" id="splashScreen-button4" class="button button-positive  button-block">Begin</a>
    </ion-content>
</ion-view>
